<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="semister">
      <h2 data-cy="semisterDetailsHeading"><span jhiTranslate="automaticTimeTableGeneratorApp.semister.detail.title">Semister</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ semister.id }}</span>
        </dd>
        <dt><span jhiTranslate="automaticTimeTableGeneratorApp.semister.name">Name</span></dt>
        <dd>
          <span>{{ semister.name }}</span>
        </dd>
        <dt><span jhiTranslate="automaticTimeTableGeneratorApp.semister.course">Course</span></dt>
        <dd>
          <span *ngFor="let course of semister.courses; let last = last">
            <a [routerLink]="['/course', course?.id, 'view']">{{ course.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="automaticTimeTableGeneratorApp.semister.subject">Subject</span></dt>
        <dd>
          <span *ngFor="let subject of semister.subjects; let last = last">
            <a [routerLink]="['/subject', subject?.id, 'view']">{{ subject.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/semister', semister.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
