<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="lecturer">
      <h2 data-cy="lecturerDetailsHeading"><span jhiTranslate="automaticTimeTableGeneratorApp.lecturer.detail.title">Lecturer</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ lecturer.id }}</span>
        </dd>
        <dt><span jhiTranslate="automaticTimeTableGeneratorApp.lecturer.emailId">Email Id</span></dt>
        <dd>
          <span>{{ lecturer.emailId }}</span>
        </dd>
        <dt><span jhiTranslate="automaticTimeTableGeneratorApp.lecturer.name">Name</span></dt>
        <dd>
          <span>{{ lecturer.name }}</span>
        </dd>
        <dt><span jhiTranslate="automaticTimeTableGeneratorApp.lecturer.empId">Emp Id</span></dt>
        <dd>
          <span>{{ lecturer.empId }}</span>
        </dd>
        <dt><span jhiTranslate="automaticTimeTableGeneratorApp.lecturer.expYears">Exp Years</span></dt>
        <dd>
          <span>{{ lecturer.expYears }}</span>
        </dd>
        <dt><span jhiTranslate="automaticTimeTableGeneratorApp.lecturer.subject">Subject</span></dt>
        <dd>
          <span *ngFor="let subject of lecturer.subjects; let last = last">
            <a [routerLink]="['/subject', subject?.id, 'view']">{{ subject.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/lecturer', lecturer.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
