#collegInfo {
  display: none;
}

@media print {
  #collegInfo {
    display: block;
  }
  #printable {
    display: block;
  }
}
/* #printtitle {
  visibility: hidden;
} */

/* @media print {
  * {
    -webkit-print-color-adjust: exact !important; 
    color-adjust: exact !important; 
  }
} */
