<div>
  <h2 id="page-heading" data-cy="GenerateTimeTableHeading">
    <span jhiTranslate="automaticTimeTableGeneratorApp.generateTimeTable.home.title">Generate Time Tables</span>

    <div class="d-flex justify-content-end">
      <button id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary jh-create-entity create-generate-time-table">
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="automaticTimeTableGeneratorApp.generateTimeTable.home.createLabel"> Create a new Generate Time Table </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="generateTimeTables?.length === 0">
    <span jhiTranslate="automaticTimeTableGeneratorApp.generateTimeTable.home.notFound">No generateTimeTables found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="generateTimeTables && generateTimeTables.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>Day of Week</span></th>

          <!-- ng for loop with up to index-->

          <th scope="col" *ngFor="let headerColName of headersTimeTable" data-cy="entityTable">
            <span>{{ headerColName }}</span>
          </th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let generateTimeTable of generateTimeTables" data-cy="entityTable">
          <td>{{ generateTimeTable.weekName }}</td>
          <td *ngFor="let period of generateTimeTable.periods">{{ period.subjectName }}<br />{{ period.lecturerName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
