<div>
  <h2 id="page-heading" data-cy="GenerateTimeTableHeading">
    <span jhiTranslate="automaticTimeTableGeneratorApp.generateTimeTable.home.title">Generate Time Tables</span>
    <br />
    <br />
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div>
    <br />

    <form name="editForm" role="form" novalidate (ngSubmit)="editFormSubmit()" [formGroup]="editForm">
      <div class="row">
        <div class="col mb-3">
          <label class="form-label" for="field_name">Course</label>
          <input type="text" class="form-control" name="coursename" id="field_name" data-cy="name" formControlName="coursename" />
          <div *ngIf="editForm.get('coursename')!.invalid && (editForm.get('coursename')!.dirty || editForm.get('coursename')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('coursename')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('coursename')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 10 }"
            >
              This field cannot be longer than 10 characters.
            </small>
          </div>
        </div>

        <div class="col mb-3">
          <label class="form-label" for="field_name"> Semester Name</label>
          <input type="text" class="form-control" name="semistername" id="field_name" data-cy="name" formControlName="semistername" />
          <div
            *ngIf="editForm.get('semistername')!.invalid && (editForm.get('semistername')!.dirty || editForm.get('semistername')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('semistername')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('semistername')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 10 }"
            >
              This field cannot be longer than 10 characters.
            </small>
          </div>
        </div>

        <div class="col mb-3">
          <label class="form-label" for="field_name">Classes/Day</label>
          <input type="text" class="form-control" name="classesPerDay" id="field_name" data-cy="name" formControlName="classesPerDay" />
          <div
            *ngIf="
              editForm.get('classesPerDay')!.invalid && (editForm.get('classesPerDay')!.dirty || editForm.get('classesPerDay')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('classesPerDay')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('classesPerDay')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 10 }"
            >
              This field cannot be longer than 10 characters.
            </small>
          </div>
        </div>

        <div class="d-flex justify-content-end">
          <button class="btn btn-primary" (click)="SaveToPdf()">Save Time Table</button>
          <span>&nbsp;&nbsp;</span>
          <button
            type="submit"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-generate-time-table"
          >
            <fa-icon icon="plus"></fa-icon>
            <span> Generate Time Table </span>
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="generateTimeTables?.length === 0">
    <span jhiTranslate="automaticTimeTableGeneratorApp.generateTimeTable.home.notFound">No generateTimeTables found</span>
  </div>
  <!-- id="entities"  -->
  <div id="printcertificate" class="table-responsive" *ngIf="generateTimeTables && generateTimeTables.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>Day of Week</span></th>

          <!-- ng for loop with up to index-->

          <th scope="col" *ngFor="let headerColName of headersTimeTable" data-cy="entityTable">
            <span>{{ headerColName }}</span>
          </th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let generateTimeTable of generateTimeTables" data-cy="entityTable">
          <td>{{ generateTimeTable.weekName }}</td>
          <td *ngFor="let period of generateTimeTable.periods">
            {{ period.subjectName }}<br />
            - {{ period.lecturerName }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
