<div>
  <h2 id="page-heading" data-cy="LecturerHeading">
    <span jhiTranslate="automaticTimeTableGeneratorApp.lecturer.home.title">Lecturers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="automaticTimeTableGeneratorApp.lecturer.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-lecturer"
        [routerLink]="['/lecturer/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="automaticTimeTableGeneratorApp.lecturer.home.createLabel"> Create a new Lecturer </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="lecturers?.length === 0">
    <span jhiTranslate="automaticTimeTableGeneratorApp.lecturer.home.notFound">No lecturers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="lecturers && lecturers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <!-- <th scope="col"><span jhiTranslate="global.field.id">ID</span></th> -->
          <th scope="col"><span jhiTranslate="automaticTimeTableGeneratorApp.lecturer.emailId">Email Id</span></th>
          <th scope="col"><span jhiTranslate="automaticTimeTableGeneratorApp.lecturer.name">Name</span></th>
          <th scope="col"><span jhiTranslate="automaticTimeTableGeneratorApp.lecturer.empId">Emp Id</span></th>
          <th scope="col"><span jhiTranslate="automaticTimeTableGeneratorApp.lecturer.expYears">Exp Years</span></th>
          <th scope="col"><span jhiTranslate="automaticTimeTableGeneratorApp.lecturer.subject">Subject</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lecturer of lecturers; trackBy: trackId" data-cy="entityTable">
          <!-- <td>
            <a [routerLink]="['/lecturer', lecturer.id, 'view']">{{ lecturer.id }}</a>
          </td> -->
          <td>{{ lecturer.emailId }}</td>
          <td>{{ lecturer.name }}</td>
          <td>{{ lecturer.empId }}</td>
          <td>{{ lecturer.expYears }}</td>
          <td>
            <span *ngFor="let subject of lecturer.subjects; let last = last">
              <a class="form-control-static" [routerLink]="['/subject', subject.id, 'view']">{{ subject.name }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/lecturer', lecturer.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/lecturer', lecturer.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(lecturer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
